@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased text-gray-900 dark:text-gray-100 bg-gray-50 dark:bg-gray-900 font-mono overflow-x-hidden;
    }

    /* Retro Icon Style */
    svg {
        shape-rendering: crispEdges;
        /* Makes SVGs look pixelated/blocky */
        stroke-width: 1.5px;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}