services:
  - type: static
    name: portfolio-frontend
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    routes:
      # Rewrite all routes to index.html for Client-Side Routing (SPA)
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: VITE_API_URL
        sync: false # User must set this value in the Render Dashboard
